body{
    background: linear-gradient(180deg, #D9D4C1 20%, #F3F0E9 30.02%, #F3F0E9 100%);
}

.section-bouton {
    margin-top: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.boutonvert{
    border: solid 2px #4a746b;
    padding: 18px;
    text-decoration: none;
}
.texteboutonvert{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    color: #4a746b;    
}

.titre h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10vw;
    flex-wrap: wrap;
}

.fil-ariane {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article1 p {
    display: flex;
    justify-content: space-between ;
    }

.article1 .premiere-partie{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 25%;
    padding-right: 22%;
}

.deuxieme-partie {
    margin-top: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.deuxieme-partie img {
    margin-right: 5vw;
}

.deuxieme-partie .texte {
    max-width: 600px;
    justify-content: space-evenly;
}

.deuxieme-partie .texte .premier-texte {
    margin-bottom: 4%;
    margin-top: 5%;
}

.deuxieme-partie .texte .deuxieme-texte {
    margin-bottom: 4%;
    margin-left: 12%;
}

.troisieme-partie {
    margin-top: 20%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

.troisieme-partie .image3article1 {
    margin-left: 5vw;
}

.troisieme-partie .texte {
    max-width: 600px;
    justify-content: space-evenly;
}

.troisieme-partie .texte .texte-un {
    margin-bottom: 4%;
}

.troisieme-partie .texte .texte-deux {
    margin-bottom: 4%;
}
