body {
    background: linear-gradient(
        180deg,
        #d9d4c1 20%,
        #f3f0e9 30.02%,
        #f3f0e9 100%
    );
}

main {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;
}

.titre {
    position: relative;
    z-index: -1;
}

.lignea {
    z-index: -1;
    position: absolute;
    left: 344px;
    width: 1px;
    height: 217vh;
    background-color: #1d1d1b;
    animation: apparition2 10s ease-out;
}
.texte .ligneb {
    z-index: -1;
    position: absolute;
    top: 498px;
    right: -82px;
    animation: apparition2 10s ease-out;
}
.troisieme-partie .texte {
    position: relative;
}
.troisieme-partie .texte .lignec {
    z-index: -1;
    position: absolute;
    top: -42px;
    right: 623px;
    animation: apparition2 10s ease-out;
}
.troisieme-partie .texte .lignecbis {
    z-index: -1;
    position: absolute;
    top: -22px;
    right: -56px;
    animation: apparition2 10s ease-out;
}
/* .boutonvert {
    border: solid 2px #4a746b;
    padding: 18px;
    text-decoration: none;
} */
/* .texteboutonvert {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #4a746b;
} */

.containerh1 {
    position: relative;
    border-bottom: solid 1px #35140d;
    margin-bottom: 100px;
    z-index: 0;
}

.titre h1 {
    text-align: center;
    background-color: #d9d4c1;
    margin-top: 10vw;
    font-size: 60px;
}

/* .containerh1 img {
    position: absolute;
    top: 97px;
    left: 374px; */
/* } */

.fil-ariane {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: none;
    color: #000000;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article1 p {
    display: flex;
    justify-content: space-between;
}

.article1 .premiere-partie {
    background-color: #f4f0e9;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 200px;
    padding-right: 150px;
}

.deuxieme-partie {
    margin-top: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.deuxieme-partie img {
    margin-right: 50px;
    padding-bottom: 25px;
    max-width: 500px;
}

.deuxieme-partie .texte {
    max-width: 600px;
    position: relative;
}

.deuxieme-partie .texte .premier-texte {
    margin-bottom: 4%;
    margin-top: 3%;
}

.deuxieme-partie .texte .deuxieme-texte {
    margin-bottom: 4%;
    margin-left: 75px;
}

.troisieme-partie {
    margin-top: 20%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

.troisieme-partie .image3article1 {
    margin-left: 50px;
    padding-bottom: 25px;
}

.troisieme-partie .texte {
    max-width: 600px;
    justify-content: space-evenly;
}

.troisieme-partie .texte .texte-un {
    margin-bottom: 4%;
}

.troisieme-partie .texte .texte-deux {
    margin-bottom: 4%;
}
@media screen and (max-width: 1200px) {

    body {
        background: linear-gradient(
            180deg,
            #d9d4c1 10%,
            #f3f0e9 15%,
            #f3f0e9 100%
        );
    }

    .lignea {
        position: absolute;
        /* margin-left: 25vw;*/
        left: 300px;
        width: 1px;
        height: 217vh;
    }

    .troisieme-partie .texte .lignecbis {
        top: 466px;
    }

    .troisieme-partie .texte .lignec {
        top: -2px;
        height: 110%;
    }
}
@media screen and (max-width: 476px) {
    body {
        background: linear-gradient(
            180deg,
            #d9d4c1 5%,
            #f3f0e9 15%,
            #f3f0e9 100%
        );
    }

    .main {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .lignea {
        left: 109px;
        height: 170vh;
    }

    .texte .ligneb {
        top: 511px;
        right: -4px;
        display: none;
    }

    .texte .ligneb img {
        margin: 0px;
        padding: 0px;
    }

    .troisieme-partie .texte .lignec {
        display: none;
    }

    .troisieme-partie .texte .lignecbis {
        display: none;
    }

    .troisieme-partie .texte .lignecter {
        z-index: -1;
        position: absolute;
        top: 429px;
        right: 339px;
        animation: apparition2 10s ease-out;
        transform: rotate(90deg);
        display: none;
    }

    .article1 {
        padding-left: 60px;
        padding-right: 60px;
    }

    .titre h1 {
        margin-top: 20px;
        font-size: 36px;
        display: flex;
        justify-content: center;
        line-height: 54px;
    }

    main p {
        font-size: 16px;
    }

    main .fil-ariane {
        font-size: 16px;
    }

    main .section-bouton {
        margin-top: 25px;
        margin-right: 35px;
    }

    main .boutonvert {
        padding: 7px;
    }

    main .texteboutonvert {
        font-size: 16px;
    }

    .article1 .premiere-partie {
        padding-left: 20px;
        padding-right: 0px;
        display: flex;
        justify-content: center;
    }

    main h2 {
        font-size: 18px;
    }

    .article1 .deuxieme-partie {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .image2article1 img {
        margin: 0px;
        padding: 0px;
        max-width: 80vw;
    }

    .article1 .image3article1 img {
        padding: 0px;
        margin: 0px;
        max-width: 80vw;
    }

    main .deuxieme-partie .texte .deuxieme-texte {
        margin-left: 20px;
    }

    .mentions .container {
        padding-left: 10%;
        padding-right: 10%;
    } 
}

@media screen and (min-width: 476px) {
    .troisieme-partie .texte .lignecter {
        display: none;
    }
} 
