.carrousel {
    height: 550px;
    display: flex;
    justify-content: center;
    position: relative;
}

.carrousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

li.is-active img {
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .carrousel img {
        max-width: 70%;
        height: auto;
        margin-left: 150px;
    }

    .carrousel {
        height: 400px;
    }
}

@media screen and (max-width: 576px) {
    .carrousel img {
        max-width: 37%;
        height: auto;
        margin-left: 435px;
    }

    .carrousel {
        height: 300px;
    }
}
