h1{
    font-family: 'Unna';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    /*letter-spacing: 0.3em;*/
    text-transform: uppercase;
    /*line-height: 74px;*/
    color: #35140D;
}

.boutons{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /*line-height: 39px;*/
    /* identical to box height */
    text-transform: uppercase;
    
    color: #000000;
    
}

.fil-ariane{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /*line-height: 24px;*/
    text-transform: none;
    color: #000000;
}

/* sous titre */
h2{
    font-family:'Montserrat';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */
    /* noiare marroné */
    color: #35140D;
}

/*texte de contenu*/
p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */
    /* noiare marroné */
    color: #35140D;
}